#!/bin/bash

set -e


export BORG_PASSCOMMAND="cat /opt/.borg.pass"

REPO="{{ common_zpool_backup_server_ssh_user }}:{{ common_zpool_backup_server_path }}"
SOURCE="{{ common_zpool_source_path }}"

log () {
  echo "$(date '+%Y-%m-%d %H:%M:%S') :: $1"
}

log "#------------------ creating the backup ------------------#"
borg create \
  --stats \
  --compression zstd,6 \
  "$REPO::{now}" \
  "$SOURCE"

log "#------------------ pruning old backups ------------------#"
borg prune \
  --keep-daily=3 \
  --keep-weekly=1 \
  --keep-monthly=1 \
  "$REPO"

borg compact "$REPO"

log "#------------------ backup completed ------------------#"
